body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

nav > div {
    display: inline-block;
}

nav > div > a {
    text-decoration: none;
    color: white;
}

nav {
    padding: 10px;
    background-color: #371B58;
}


.navlinks {
    float: right;
}

.navlink {
    padding: 10px 30px 10px 30px;
    margin: 5px;
}

.homebrand {
    padding: 10px 30px 10px 30px;
    margin: 5px;
}

/* Intro */

.introContent {
    position: relative;
}

.itroImage {
    position: absolute;
}

.introBanner {
    height: 640px;
}

.introText {
    position: absolute;
    color: white;
    margin-top: 100px;
    left: 40%;
}

.midContent {
    margin-top: 650px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.leftContent {
    width: 500px;
}

.rightContent {
    width: 500px;
}

.endContent {
    margin-top: 100px;
    display: flex;
    justify-content: space-around;
}

.endText {
    height: 300px;
    width: 500px;
}

footer {
    width: 100%;
    color: white;
    padding: 20px;
    text-align: center;
    background-color: #7858A6;    
}